<template>
  <div class="relative" >
    <div class="bg-white relative py-8 rounded-3x m-10 rounded-3xl shadow-md">
      <div class="m-auto text-2xl w-40 bg-white rounded-3xl">
        문의 사항 본문
      </div>
        <div class="flex-column mx-auto my-8 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 text-gray-500">
        <div class="mb-4">
          <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
            <div class="border-r border-gray-200 w-40">문의 사항 제목</div>
            <div class="mx-4">{{ askDetail.title}} </div>
          </div>
          <div class="px-4 py-2">
            <label for="editor" class="sr-only">Publish post</label>
            <div id="editor" rows="8" class="block w-full h-auto py-2 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400 overflow-auto" >
              {{ askDetail.content }}
            </div>
          </div>
        </div>
          <div class=" border-t dark:border-gray-600 ">
            <div class="ps-0  rounded flex flex-row border-b border-gray-200">
              <div class="w-40 p-2">첨부 파일</div>
            </div>
            <div class="mx-auto relative">
              <img :src="askDetail.questionImgUrl" class=" w-[200px] object-scale-down lg:hover:scale-[5] transition-transform ease-in-out duration-100 mx-auto">
            </div>
          </div>
        <div class="w-full border border-gray-200" v-if="comment">
          <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
            <div class="border-r border-gray-200 w-40 pr-4">답변 제목</div>
            <div class="mx-4">{{ comment.answerTitle}}</div>
          </div>
          <div class="w-full">
            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
              <div id="comment" rows="4" class="w-full min-h-4 py-4 bg-white resize-none border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400">{{ comment.answerContent}}</div>
            </div>
            <div class="px-2 py-2 border-t dark:border-gray-600 ">
              <div class="ps-0 space-x-1 rtl:space-x-reverse sm:ps-2 rounded border-gray-400 ">
                <div class="w-40 pr-4">첨부 파일</div>
                <div class=" min-h-4 lg:overflow-hidden lg:w-[1000px] lg:h-auto mb-2"><img :src="comment.answerImgUrl" class="w-[200px] object-scale-down lg:hover:scale-[4] transition-transform ease-in-out duration-100"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
    <div class="bg-white py-8 rounded-3x m-10 rounded-3xl shadow-md" v-if="!comment">
      <div class="m-auto text-2xl w-40 bg-white rounded-3xl">
        답변 등록/수정
      </div>
      <form enctype="multipart/form-data">
        <div class="flex-column mx-auto w-5/6 my-8 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 text-gray-500">
          <div class="w-full border border-gray-200">
            <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
              <label class="border-r border-gray-200 w-40 pr-4">답변 제목</label>
              <input type="text" class="w-full mx-4 border border-gray-200 rounded" v-model="form.answerTitle">
            </div>
            <div class="w-full">
              <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                <label for="comment" class="sr-only">Your comment</label>
                <textarea id="comment" rows="4" class="w-full px-0 bg-white h-[400px] resize-none border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" v-model="form.answerContent" required></textarea>
              </div>
              <div class="px-2 py-2 border-t dark:border-gray-600 ">
                <div class="ps-0 flex flex-row space-x-1 rtl:space-x-reverse sm:ps-2 rounded border-gray-400 ">
                  <div class="w-40 pr-4">첨부 파일</div>
                  <div class="ml-4">
                    <input type="file" class="border border-gray-200" v-on:change="handleChange">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="flex-row justify-center mx-auto w-1/3 flex-nowrap text-center">
      <button class="mx-8 bg-my-color text-white w-24 h-12 rounded text-center" type="submit" @click="submitUpload(id)" v-if="!comment">
        답변 등록
      </button>
      <button class="mx-8 bg-gray-400 text-white w-24 h-12 rounded text-center" type="button" @click="backPage()">
        목록
      </button>
      <button class="mx-8 bg-red-500 text-white w-24 h-12 rounded text-center" type="button" @click="backPage()">
        답변 삭제
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useAskAnswerStore } from "~/store/askAnswer";
import {useAskStore} from "~/store/memberAsk";
import {storeToRefs} from "pinia";


definePageMeta({
  middleware: 'auth'
})

const store = useAskStore();
const {getDetail} = store;
const {askDetail, comment} = storeToRefs(store);
const answerStore = useAskAnswerStore();


await getDetail('${id}').then(() => {
  console.log("조회 성공")

}).catch(() => {
  console.log("조회 실패")
})

const form = reactive({
  answerTitle: '',
  answerContent: '',
  multipartFile: ''
})

const handleChange = (file: any) => {
  form.multipartFile = file.raw;
}

const router = useRouter();
const id = useRouter().params;

const backPage = () => {
  router.back();
}
const rePage = () => {
  router.go(0);
}

const submitUpload = async (id: string) => {
  if(confirm('답변을 등록하시겠습니까?')) {
    await answerStore.setAnswer('${id}', form).then(() => {
      console.log(form);
      alert("답변이 등록되었습니다.")
      rePage();
    }).catch(() => {
      alert("답변 등록에 실패했습니다.")
    })
  }else{
    alert("답변 등록이 취소되었습니다.")
  }

};

</script>
