<template>
  <div class="m-10 bg-white py-8">
    <form class="">
      <div class="flex-column mx-auto w-5/6 my-8">
        <div class="mb-4 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 text-gray-500">
          <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
            <div class="border-r border-gray-200 w-40">게시물 제목</div>
            <div class="ml-8">{{ boardDetail.title}}</div>
          </div>
          <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
            <div class="border-r border-gray-200 w-40">작성 일자</div>
            <div class="ml-8">{{ boardDetail.dateBoard }}</div>
          </div>
        </div>
        <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800" v-if="boardDetail.boardImgUrl !== 'null'">
          <img :src="boardDetail.boardImgUrl">
        </div>
          <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
            <div id="editor" rows="8" class="block w-full h-auto pt-4 pb-8 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400 overflow-auto" >
              {{ boardDetail.content }}
            </div>
          </div>
          <div class="flex flex-row items-center justify-start px-3 py-2 border-y dark:border-gray-600">
            <div>댓글 내역</div>
          </div>
          <div class="px-4 py-2 leading-10 flex flex-row items-center" v-for="(item, index) in comment" :key="index">
            <div class="">{{ item.content}} ( 작성일: {{ item.dateComment}} )</div>
            <button class="bg-gray-500 text-white rounded-2xl w-4 h-4 text-xs mx-2">x</button>
          </div>
      </div>
        <div class="flex flex-nowrap items-center justify-center">
        <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-my-color hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="backPage">목록</button>
        <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-red-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="deleteBoard(id)">삭제</button>
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {useBoardStore} from "~/store/board";
import {storeToRefs} from "pinia";

definePageMeta({
  middleware: 'auth',
})

const store = useBoardStore();
const {getDetail} = store;
const {boardDetail, comment} = storeToRefs(store);
const {delBoard} = store;

const router = useRouter();
const id = useRouter().params;

const backPage = () => {
  router.back();
}

const deleteBoard = async (id: string) => {
  if (confirm('정말 삭제하시겠습니까?')) {
    await delBoard('${id}').then(() => {
      alert('삭제되었습니다.');
      router.back();
    }).catch(() => {
      alert('삭제에 실패했습니다.')
    })
  } else {
    alert('삭제가 취소되었습니다.')
  }

}

await getDetail('${id}').then(() => {
  console.log('조회 성공')
}).catch(() => {
  console.log('조회 실패')
});

</script>
