<script setup lang="ts">
import {
  useToast,
  TwButton,
  TwErrorMessage,
  TwForm,
  TwInput,
} from "vue3-tailwind";
import {useAuthStore} from "~/store/auth";
import "vue-toastification/dist/index.css";

definePageMeta({
  layout: "front",
});

useHead({
  title: "login",
});

const user = ref({
  username: '',
  password: '',
});

const { authenticateUser } = useAuthStore();
const { authenticated } = storeToRefs(useAuthStore());

const formLogin = ref();
const formError = ref(false);

const login = async () => {
  await authenticateUser(user.value).then(() => {
    const router = useRouter();
    router.push('/');
    alert('로그인에 성공했습니다.')
  }).catch(() => {
    alert('아이디/비밀번호를 확인해주세요.')
  })


};



</script>

<template>
  <div class="text-white flex justify-center pt-24">
    <div
      class="text-gray-800 rounded-t-lg w-1/4 p-1 from-indigo-400 h-20 flex-col flex-nowrap"
      :class="{
      'tw-shake': formError,
      }"
    >
      <div class="bg-my-color mb-12"><img src="../../assets/alba_m.png" class="mx-auto w-1/2"></div>
      <div class="rounded-lg" >

        <TwForm
          ref="formLogin"
          name="login"
          :rules="{
          username: ['아이디를 입력해주세요.'],
          password: ['비밀번호를 입력해주세요.'],
        }"
          @submit="login"
          class="body bg-white dark:bg-gray-900 px-4 py-10 rounded-lg"
        >
          <div class="header border-b-gray-400 text-center mt-4 mb-6 text-2xl rounded-lg">Admin Login</div>
          <div class="grid grid-cols-12 gap-2">
            <div class="col-span-12">
              <TwInput
                class="dark:text-gray-200 my-2"
                v-model="user.username"
                name="username"
                placeholder="아이디"
                aria-required="true"
              />
              <TwErrorMessage name="email"></TwErrorMessage>
            </div>
            <div class="col-span-12">
              <TwInput
                class="dark:text-gray-200 my-2"
                v-model="user.password"
                name="password"
                placeholder="비밀번호"
                type="password"
                aria-required="true"
              />
              <TwErrorMessage name="password"></TwErrorMessage>
            </div>
            <div class="col-span-12">
              <TwButton class="w-full text-center">
                로그인
              </TwButton>
            </div>
          </div>
        </TwForm>
      </div>
      </div>
    </div>
</template>
