<template>
  <div class="m-auto bg-white w-[900px]">
    <div class="max-w-[640px] p-10 mt-10 ml-auto mr-auto mb-10">
      <h1 class="text-2xl p-10 ml-40">사업장 등록</h1>
      <form>
        <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
          <label for="businessName">상호명</label>
          <input type="text" id="businessName" v-model="businessName">
        </div>
        <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
          <p>사업자등록번호</p>
          <input type="text" maxlength="10" placeholder="숫자만 입력해주세요.">
        </div>
        <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
          <p>대표자명</p>
          <input type="text">
        </div>
        <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
          <p>업종</p>
          <input type="text">
        </div>
        <div class="mx-10 my-4">
          <p>사업장 소재지</p>
          <input type="text" class=" my-4 w-full">
        </div>
        <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
          <p>이메일</p>
          <input type="text">
        </div>
        <div class="mx-10 my-4">
          <p>전화번호 <span class="text-xs">* 사업장에 유선 전화가 없는 경우, 대표자 휴대전화번호를 입력해주세요.</span></p>
        </div>
        <div class="flex flex-row justify-end mx-10 my-4">
          <form>
            <select>
              <option value="02">02</option>
              <option value="031">031</option>
              <option value="032">032</option>
              <option value="033">033</option>
              <option value="041">041</option>
              <option value="042">042</option>
              <option value="043">043</option>
              <option value="051">051</option>
              <option value="052">052</option>
              <option value="053">053</option>
              <option value="054">054</option>
              <option value="055">055</option>
              <option value="061">061</option>
              <option value="062">062</option>
              <option value="063">063</option>
              <option value="064">064</option>
              <option value="011">011</option>
              <option value="016">016</option>
              <option value="010">010</option>
            </select>
          </form>
          <input type="text" class="ml-2">
        </div>
        <div class="mx-10 my-4">
          <p>상세주소</p>
          <input type="text" class=" my-4 w-full">
        </div>
        <div class="mx-10 my-4">
          <p class="text-left mb-4">사업자등록증 첨부하기</p>
          <input class="block w-full text-center text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
        </div>
        <div class="flex flex-nowrap items-center justify-center mx-10 my-4">
          <button type="button" class="m-10 h-14 w-32 text-2xl text-white bg-my-color hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><nuxt-link to="/components/business">등록</nuxt-link></button>
          <button type="button" class="m-10 h-14 w-32 text-2xl text-white bg-gray-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><nuxt-link to="/components/business">취소</nuxt-link></button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">

export default {
  data: function () {
    return {
      businessName: ''
    }
  }
}


</script>
