<template>
  <div class="m-20">
    <h1 class="text-3xl pb-10">공지사항 조회</h1>
    <div class="relative overflow-x-auto bg-white mx-auto shadow-md sm:rounded-lg">
      <div class="table pt-4 w-full text-center">
        <div class="table-header-group leading-10 h-16 font-bold  text-center">
          <div class="table-row h-10 align-middle">
            <div class="table-cell align-middle text-center">{{ data.column[0].label}}</div>
            <div class="table-cell align-middle text-center ">{{ data.column[1].label}}</div>
            <div class="table-cell align-middle text-center ">{{ data.column[2].label}}</div>
          </div>
        </div>
        <div class="table-row-group align-middle border border-b-gray-200 leading-10 h-10 border-collapse border border-solid border-1 border-gray-400 mx-auto text-center" v-for="(line, index) in noticeList" :key="index" @click="handleClick(line.id)">
          <div class="table-row border align-middle border-collapse h-16 leading-10 hover:bg-gray-100">
            <div class="table-cell align-middle text-center w-1/9">{{ line.id}}</div>
            <div class="table-cell align-middle text-center">{{ line.title }}</div>
            <div class="table-cell align-middle text-center">{{ line.dateNotice }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row mx-auto my-8 justify-center">
      <button type="button" id="1" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(1)">1</button>
      <button type="button" id="2" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(2)">2</button>
      <button type="button" id="3" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(3)">3</button>
      <button type="button" id="4" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(4)">4</button>
      <button type="button" id="5" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(5)">5</button>
    </div>
  </div>
</template>


<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {storeToRefs} from "pinia";
import {TwDatatableClient, useToast} from "vue3-tailwind";
import {ref} from "vue";
import {useNoticeStore} from "~/store/notice";

definePageMeta({
  middleware: 'auth',
})

const store = useNoticeStore();
const {getNotice} = store;
const {noticeList} = storeToRefs(store);
const toast = useToast();

const router = useRouter();

const handleClick = (id : string) => {
  router.push(`/notice/detail/${id}`);
}

const data = ref({
  column: [
    {
      label: "번호",
      field: "id",
      width: "70px",
      sortable: true,
    },
    {
      label: "공지 제목",
      field: "title",
      width: "200px",
      sortable: true,
    },
    {
      label: "작성날짜",
      field: "dateNotice",
      width: "120px",
      sortable: true,
    },
    {
      label: "",
      field: "edit",
      width: "120px",
    },
  ],
  data: [],
  setting: {
    checkbox: true,
  },
});

const paging = async(page: number) => {
  await getNotice(page).then(() => {
    console.log("조회 성공")

  }).catch(() => {
    console.log("조회 실패")
  });
}

await getNotice(1).then(() => {
  console.log("조회 성공")

}).catch(() => {
  console.log("조회 실패")
})


</script>
