<template>
  <div class="m-auto bg-white w-2/3 p-10">
    <h1 class="text-2xl p-10 text-center">공지사항 등록</h1>
    <div class="flex flex-nowrap items-center justify-between my-4 border border-gray-200 rounded-lg text-gray-500">
      <input type="text" class="w-full h-10 pl-4 rounded-lg" placeholder="공지사항 제목" v-model="notice.title">
    </div>
    <div>
      <form encType="multipart/form-data">
        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 text-gray-500">
          <div class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600">
            <div class="flex flex-wrap items-center divide-gray-200 sm:divide-x sm:rtl:divide-x-reverse dark:divide-gray-600">
              <div class="flex items-center space-x-1 rtl:space-x-reverse sm:pe-4 pt-2">
                <template>
                  <el-upload
                    ref="upload"
                    class="upload-demo"
                    action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
                    :limit="1"
                    :on-exceed="handleExceed"
                    :auto-upload="false"
                    :on-change="handleChange"
                  >
                    <template #trigger>
                      <el-button type="primary" class="w-60 h-20 bg-gray-400">파일 첨부</el-button>
                    </template>
                  </el-upload>
                </template>
              </div>
            </div>
            <div id="tooltip-fullscreen" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Show full screen
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
            <label for="editor" class="sr-only">Publish post</label>
            <textarea id="editor" rows="8" class="block w-full resize-none h-[700px] px-0 text-gray-500 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="공지사항 본문 내용" required v-model="notice.content"></textarea>
          </div>
        </div>
        <div class="flex flex-nowrap items-center justify-center mx-10 my-4">
          <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-my-color hover:bg-gray-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="open">등록</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {useNoticeStore} from "~/store/notice";
import {genFileId, type UploadInstance, type UploadProps, type UploadRawFile} from "element-plus";

definePageMeta({
  middleware: 'auth',
})

const {postNotice } = useNoticeStore();
const router = useRouter();

const notice = reactive({
  title: '',
  content: '',
  multipartFile: ''
});

const handleChange = (file: any) => {
  notice.multipartFile = file.raw;
}

const upload = ref<UploadInstance>()

// 파일 수 초과 시 처리 영역
const handleExceed: UploadProps['onExceed'] = (files: any) => {
  upload.value!.clearFiles()
  const file = files[0] as UploadRawFile
  file.uid = genFileId()
  upload.value!.handleStart(file)
}


const open = async () => {
  if(confirm("공지를 등록하시겠습니까?")) {
    await postNotice(notice).then(() => {
      console.log(notice)
      router.push('/notice/noticeList')
      alert("공지가 등록되었습니다.")
    }).catch(() => {
      console.log(notice);
      alert("공지 등록이 실패하였습니다.")
    })
  }else{
    alert("등록이 취소되었습니다.")
  }
}

</script>
