<script setup lang="ts">
</script>

<template>
  <div class="flex-initial flex-col flex-nowrap justify-center items-center bg-my-color">
    <div>
      <img src="../../assets/alba_m.png" class="w-[150px] items-center ml-12 mt-10 mb-10">
    </div>
    <nav class="hidden md:block lg:w-64 sm:w-64 text-md text-white p-2 py-2 h-full rounded-3xl sticky top-0 z-10 bg-my-color">
      <LayoutSidebarList />
    </nav>
  </div>

</template>


