<script setup lang="ts">
import { useSidebarStore } from "~/store/sidebar";
import SidebarItem from "./SidebarItem.vue";

const sidebarStore = useSidebarStore();
</script>

<template>
  <ul class="w-[240px]">
    <template v-for="sidebar in sidebarStore.items">
      <SidebarItem :item="sidebar" :level="1" />
    </template>
  </ul>
</template>
