<template>
  <div class="bg-white flex-column mx-auto w-5/6 my-8 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600">
      <h1 class="text-center text-2xl pt-8">신고 내용</h1>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">

        <form>
        <div class="text-gray-500">
          <div class="border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 text-gray-500">
            <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
              <div class="border-r border-gray-200 w-40">신고자 이름</div>
              <div class="ml-8">{{ reportBoardDetail.reportUserName }}</div>
            </div>
            <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
              <div class="border-r border-gray-200 w-40">신고 날짜</div>
              <div class="ml-8">{{ reportBoardDetail.dateReport }}</div>
            </div>
            <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
              <div class="text-center">신고 내용</div>
            </div>
            <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
              <div rows="8" class="block w-full h-auto pt-4 pb-20 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400 overflow-auto" >
                {{ reportBoardDetail.reportContent }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
      <div  class="mt-10">
        <form class="">
          <div class="flex-column mx-auto w-5/6 my-8 bg-white relative overflow-x-auto shadow-md sm:rounded-lg ">
            <h1 class="text-center text-2xl py-8">신고 대상 게시물</h1>
            <div class="border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 text-gray-500">
              <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
                <div class="border-r border-gray-200 w-40">작성 일자</div>
                <div class="ml-8">{{ reportBoardDetail.dateBoard }}</div>
              </div>
              <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
                <div class="border-r border-gray-200 w-40">작성자 이름</div>
                <div class="ml-8">{{  reportBoardDetail.boardMemberUserName }}</div>
              </div>
              <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
                <label for="editor" class="sr-only">Publish post</label>
                <div id="editor" rows="8" class="block w-full h-auto pt-4 pb-20 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400 overflow-auto" >
                  {{ reportBoardDetail.boardContent }}
                </div>
              </div>
              <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800 border border-t-gray-200 bg-gray-200 py-2">
                <button type="button" class="bg-my-color text-center text-white rounded h-10 w-48" @click="handleClick(reportBoardDetail.boardId)">원본 게시물 보러 가기</button>
              </div>
            </div>

          </div>
        </form>
      </div>
  <div class="flex flex-nowrap items-center justify-center">
    <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-gray-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="backPage()">목록</button>
    <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-red-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">삭제</button>
  </div>
</template>

<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {useReportStore} from "~/store/report";
import {storeToRefs} from "pinia";

definePageMeta({
  middleware: 'auth',
})

const store = useReportStore();
const {getRepoBoardDetail} = store;
const {reportBoardDetail} = storeToRefs(store);

const router = useRouter();

const backPage = () => {
  router.back();
}

const handleClick = (id : string) => {
  router.push(`/board/detail/${id}`);
}
await getRepoBoardDetail('{id}').then(() => {
  console.log('조회 성공')
}).catch(() => {
  console.log('조회 실패')
})
</script>
