<script setup lang="ts">
import { ref } from "vue";
import { DatatableColumn, DatatableData, TwDatatableServer } from "vue3-tailwind";
import nuxtLink from "#app/components/nuxt-link";
const data = ref({
  column: [
    {
      label: "No.",
      field: "id",
      width: "100px",
      sortable: true,
    },
    {
      label: "회원 상태",
      field: "memberState",
      width: "250px",
      sortable: true,
    },
    {
      label: "회원 유형",
      field: "memberType",
      width: "200px",
      sortable: true,
    },
    {
      label: "아이디",
      field: "username",
      width: "400px",
      sortable: true,
    },
    {
      label: "성별",
      field: "isMan",
      width: "100px",
      sortable: true,
    },
    {
      label: "생년월일",
      field: "dateBirth",
      width: "400px",
      sortable: true,
    },
    {
      label: "휴대전화번호",
      field: "phoneNumber",
      width: "400px",
      sortable: true,
    },
    {
      label: "주소",
      field: "address",
      width: "700px",
      sortable: true,
    }
  ] as Array<DatatableColumn>,
  data: [] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const fetchData = async () => {
  const baseUrl = "http://192.168.0.201:8080/v1/member/all/1";
  const response = await fetch(
    baseUrl +
    "?" +
    new URLSearchParams({
      limit: data.value.limit.toString(),
      skip: data.value.offset.toString(),
      q: data.value.search.toString(),
      sortType: data.value.sortType,
      sortBy: data.value.sortBy,
    })
  );
  const responseJson = await response.json();
  return {
    data: responseJson["list"],
    totalCount: responseJson["totalCount"],
    message: responseJson["msg"],
    code: responseJson["code"],
    isSuccess: responseJson["isSuccess"],
    totalPage: responseJson["totalPage"],
    currentPage: responseJson["currentPage"]
  };
};


const sortClick = (event: any) => {
  const sortBy = data.value.sortBy
  const sortType = data.value.sortType
  const sortByNew = event
  const sortTypeNew = event === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc'
  data.value = { ...data.value, sortBy: sortByNew, sortType: sortTypeNew }
}

const toMemberInfo = () => {
  nuxtLink('components/owner-member/detail')
}

</script>

<template>
  <div class="relative">
    <div class="m-4">
      <h2 class="text-2xl">사업자 회원 조회</h2>
      <hr class="my-2 border dark:border-gray-700" />
      <div class="absolute w-full h-16 top-8 left-0 bg-gray-100"></div>
      <TwDatatableServer
        :fetch-data="fetchData"
        v-model:search="data.search"
        v-model:limit="data.limit"
        v-model:offset="data.offset"
        v-model:selected="data.selected"
        v-model:sort-by="data.sortBy"
        v-model:sort-type="data.sortType"
        :column="data.column"
        :setting="data.setting"
        @on-sort-change="sortClick"

      >
        <template #row="{ column, data }" @click="toMemberInfo">
          <template v-if="column.field === 'id'">
            {{ data.id }}
          </template>
          <template v-if="column.field === 'memberState'">
            {{ data.memberState }}
          </template>
          <template v-if="column.field === 'memberType'">
            {{ data.memberType }}
          </template>
          <template v-if="column.field === 'name'">
            {{ data.name }}
          </template>
          <template v-if="column.field === 'username'">
            {{ data.username }}
          </template>
          <template v-if="column.field === 'isMan'">
            {{ data.isMan }}
          </template>
          <template v-if="column.field === 'dateBirth'">
            {{ data.dateBirth }}
          </template>
          <template v-if="column.field === 'phoneNumber'">
            {{ data.phoneNumber }}
          </template>
          <template v-if="column.field === 'address'">
            {{ data.address }}
          </template>
        </template>
        <template #empty>
          <div class="bg-white dark:bg-gray-800 text-center w-full">No Data</div>
        </template>
      </TwDatatableServer>
      <hr class="my-2 dark:border-gray-700" />
    </div>

  </div>
</template>
