<template>
  <div class="m-auto bg-white w-2/3 p-10">
    <form>
    <h1 class="text-2xl p-10 text-center">공지사항 등록</h1>
    <div class="flex flex-nowrap items-center justify-between my-4" v-if="noticeDetail">
      <input type="text" class="w-full border border-gray-200 rounded-lg text-gray-500" placeholder="공지사항 제목" v-model="noticeDetail.title"/>
    </div>
    <div>
        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 text-gray-500">
          <div class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600">
            <div class="flex flex-wrap items-center divide-gray-200 sm:divide-x sm:rtl:divide-x-reverse dark:divide-gray-600">
              <div class="flex items-center space-x-1 rtl:space-x-reverse sm:pe-4">
                <input type="file" v-on:change="noticeDetail.noticeImgUrl" class=" border-gray-500 rounded" placeholder="첨부파일">
              </div>
            </div>
            <div id="tooltip-fullscreen" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Show full screen
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
            <label for="editor" class="sr-only">Publish post</label>
            <textarea id="editor" rows="8" class="block w-full resize-none h-[800px] px-0 text-gray-500 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" v-bind="noticeDetail.content" v-on:change="notice.content"></textarea>
          </div>
        </div>
        <div class="flex flex-nowrap items-center justify-center mx-10 my-4">
          <button type="button" class="m-10 h-14 w-32 text-white bg-my-color hover:bg-gray-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="submitUpload(id)">등록</button>
          <button type="button" class="m-10 h-14 w-32 text-white bg-gray-500 hover:bg-gray-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">취소</button>
        </div>
    </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {useNoticeStore} from "~/store/notice";

definePageMeta({
  middleware: 'auth',
})

const store = useNoticeStore();
const { getDetail, putNotice } = store;
const {noticeDetail} = storeToRefs(store);
const router = useRouter();


const notice = ref({
  title: '',
  content: '',
  noticeImgUrl: ''
})

function editNotice() {}


await getDetail('${id}').then(() => {
  console.log('조회 성공');
}).catch(() => {
  console.log('조회 실패');
});

const id = router.params;

const submitUpload = async (id: string) => {
  if(confirm("공지를 등록하시겠습니까?")) {
    const payload = ref({
      title: noticeDetail.value.title,
      content: noticeDetail.value.content,
      noticeImgUrl: noticeDetail.value.noticeImgUrl
    })
    console.log(payload.value)
    await putNotice(id, payload.value).then(() => {
      alert("공지가 등록되었습니다.")
      router.push('/components/notice');
    }).catch(() => {
      alert("공지 등록에 실패했습니다.")
    })
  }else{
    alert("등록이 취소되었습니다.")
  }
}

</script>
