.vt-text-sm {
  font-size: 1.2rem !important;
}
TwDatatableServer{
  font-size: 1.2rem !important;
  margin-left: 2px;
}

.vt-text-xs {
  font-size: 0rem !important;
}


.vt-duration-300 {
  margin-left: 2px !important;
}

vt-col-span-12 {
  dispaly: none !important;
}

vt-w-80 {
  height: 0px !important;
}

min-h-screen {
  height: 80vh !important;
}

body {
  height: 80vh !important;
}

.vt-duration-300 {
  padding-left: 16px;
}

.vt-gap-8 {
  display: none !important;
}

.vt-tw-datatable {
  text-align: center !important;
  width: 95% !important;
  margin : 0 auto 0 auto !important;
}


