nav .router-link-active {
  position: relative;
}

@-webkit-keyframes active-menu-wave-animation {
  to {
    margin-right: -30.1px;
    opacity: 1
  }
}

@keyframes active-menu-wave-animation {
  to {
    margin-right: -30.1px;
    opacity: 1
  }
}
