<template>
  <div class="m-10">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-24 mb-24 bg-white">
      <h1 class="text-center text-2xl mt-8">회원 상세보기</h1>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4" v-if="memberDetail">
          <div class="m-8">
            <div class="table border-collapse border border-solid border-1 border-gray-400 w-full text-center">
              <div class="table-header-group bg-my-color text-white border-collapse border border-solid border-1 border-gray-400 text-center">
                <div class="table-row h-10 h-10 leading-10">
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">이름</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">회원 상태</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">회원 아이디</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">생년월일</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">휴대전화번호</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">가입 날짜</div>
                </div>
              </div>
              <div class="table-row-group border-collapse border border-solid border-1 border-gray-400 mx-auto text-center">
                <div class="table-row border border-collapse h-10 leading-10">
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ memberDetail.memberName }}</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ memberDetail.memberState }}</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ memberDetail.userName }}</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ memberDetail.dateBirth }}</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ memberDetail.phoneNumber }}</div>
                  <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ memberDetail.dateMember }}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-24 mb-24 bg-white">
      <h1 class="text-center text-2xl mt-8">보유 사업장</h1>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
        <div class="m-8">
          <div class="table border-collapse border border-solid border-1 border-gray-400 w-full text-center">
            <div class="table-header-group bg-my-color text-white border-collapse border border-solid border-1 border-gray-400 text-center">
              <div class="table-row h-10 leading-10">
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">사업장 상태</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">상호명</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">사업자등록번호</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">소속 종업원 수</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">사업장 주소지</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">사업장 이메일</div>
              </div>
            </div>
            <div class="table-row-group border-collapse border border-solid border-1 border-gray-400 mx-auto text-center" v-if="businessDetailResponse">
              <div class="table-row border border-collapse h-10 leading-10">
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetailResponse.isActivity}}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetailResponse.businessName }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetailResponse.businessNumber }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetailResponse.totalStaff }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetailResponse.businessLocation }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetailResponse.businessEmail }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-nowrap items-center justify-center mx-auto my-12">
      <button type="button" class="mx-4 h-14 w-24 text-center text-xl text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="backPage">목록</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import {useOwnerStore} from "~/store/ownerMember";
import {storeToRefs} from "pinia";


definePageMeta({
  middleware: 'auth'
})

const store = useOwnerStore;
const {getMember} = store();
const {memberDetail, businessDetailResponse} = storeToRefs(store());
const router = useRouter();

const backPage =() => {
  router.back();
}



await getMember('${id}').then(() => {
  console.log("조회 성공")
}).catch(() => {
  console.log("조회 실패")
})
</script>
