<template>
  <div class="m-auto bg-white w-[900px]">
    <div class="max-w-[640px] p-10 mt-10 ml-auto mr-auto mb-10">
      <h1 class="text-2xl p-10 ml-40">사업자 등록</h1>
      <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
        <p>이름</p>
        <input type="text">
      </div>
      <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
        <p>아이디</p>
        <input type="text">
      </div>
      <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
        <p>비밀번호</p>
        <input type="password">
      </div>
      <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
        <p>비밀번호 확인</p>
        <input type="password">
      </div>
      <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
        <p>생년월일</p>
        <input type="text" placeholder="8자리 숫자만 입력해주세요.">
      </div>
      <div class="flex flex-nowrap items-center justify-between mx-10 my-4">
        <p>휴대전화번호</p>
        <input type="text" placeholder="'-'를 제외하고 입력해주세요.">
      </div>
      <div class="mx-10 my-4">
        <p>주소</p>
        <input type="text" class=" my-4 w-full">
      </div>
      <div class="mx-10 my-4">
        <p>상세주소</p>
        <input type="text" disabled class=" my-4 w-full">
      </div>
      <div class="flex flex-nowrap items-center justify-center mx-10 my-4">
        <button type="button" class="m-10 h-14 w-32 text-2xl text-white bg-my-color hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">등록</button>
        <button type="button" class="m-10 h-14 w-32 text-2xl text-white bg-gray-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">취소</button>
      </div>
    </div>
  </div>
</template>

<script>

</script>
