<template>
  <div class="m-20">
    <h1 class="text-3xl pb-10">사업자 회원 조회</h1>
    <div class="relative overflow-x-auto bg-white shadow-md sm:rounded-lg">
      <div class="table table-fixed pt-4 w-full text-center">
        <div class="table-header-group leading-10 h-16 font-bold  text-center">
          <div class="table-row h-10 align-middle">
            <div class="table-cell align-middle text-center w-1/12">{{ data.column[0].label}}</div>
            <div class="table-cell align-middle text-center ">{{ data.column[1].label}}</div>
            <div class="table-cell align-middle text-center ">{{ data.column[2].label}}</div>
            <div class="table-cell align-middle text-center ">{{ data.column[3].label}}</div>
            <div class="table-cell align-middle text-center">{{ data.column[4].label}}</div>
            <div class="table-cell align-middle text-center">{{ data.column[5].label}}</div>
          </div>
        </div>
        <div class="table-row-group align-middle border border-b-gray-200 leading-10 h-10 border-collapse border border-solid border-1 border-gray-400 mx-auto text-center" v-for="(line, index) in memberList" :key="index" @click="handleClick(line.id)">
          <div class="table-row border align-middle border-collapse h-16 leading-10 hover:bg-gray-100">
            <div class="table-cell align-middle text-center w-1/9">{{ line.id}}</div>
            <div class="table-cell align-middle text-center">{{ line.name }}</div>
            <div class="table-cell align-middle text-center">{{ line.username }}</div>
            <div class="table-cell align-middle text-center">{{ line.isMan }}</div>
            <div class="table-cell align-middle text-center">{{ line.dateBirth }}</div>
            <div class="table-cell align-middle text-center">{{ line.phoneNumber }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row mx-auto my-8 justify-center">
        <button type="button" id="1" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(1)">1</button>
        <button type="button" id="2" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(2)">2</button>
        <button type="button" id="3" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(3)">3</button>
        <button type="button" id="4" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(4)">4</button>
        <button type="button" id="5" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(5)">5</button>
    </div>
  </div>
</template>


<script setup lang="ts">
import {storeToRefs} from "pinia";
import {ref} from "vue";
import {useOwnerStore} from "~/store/ownerMember";

definePageMeta({
  middleware: 'auth'
})

const store = useOwnerStore;
const {getMembers} = store();
const {memberList} = storeToRefs(
  store(
  ));

const router = useRouter();

const handleClick = (id : string) => {
  router.push(`/owner-member/detail/${id}`);
}

const page = 1;

const paging = async(page: number) => {
  await getMembers(page).then(() => {
    console.log("조회 성공")

  }).catch(() => {
    console.log("조회 실패")
  });
}

await getMembers(page).then(() => {
  console.log("조회 성공")

}).catch(() => {
  console.log("조회 실패")
});

const data = ref({
  column: [
    {
      label: "번호",
      field: "id",
      width: "70px",
      sortable: true,
    },
    {
      label: "이름",
      field: "name",
      width: "100px",
      sortable: true,
    },
    {
      label: "아이디",
      field: "username",
      width: "100px",
      sortable: true,
    },
    {
      label: "성별",
      field: "isMan",
      width: "80px",
      sortable: true,
    },
    {
      label: "생년월일",
      field: "dateBirth",
      width: "120px",
      sortable: true,
    },
    {
      label: "휴대전화번호",
      field: "phoneNumber",
      width: "120px",
      sortable: true,
    },
    {
      label: "",
      field: "edit",
      width: "120px",
    },
  ],
  data: [],
  setting: {
    checkbox: true,
  },
});


</script>
