<script setup lang="ts">
import { useToast, TwFeather, TwToast } from "vue3-tailwind";
const { toasts } = useToast();
const cookieDark = useCookie('dark-mode')

</script>

<template>
  <div id="dark-mode" :class="cookieDark ? 'dark vt-dark' : ''">
    <TwToast position="bottom-right" :toasts="toasts" />
    <div>
      <LayoutFloating />
      <LayoutHeader />
      <div class="py-4 px-0 md:px-1 bg-my-color">
        <div
          class="flex min-h-screen text-gray-500 dark:text-gray-200 rounded-3xl shadow-lg"
        >
          <LayoutSidebar class="h-full w-[260px]" />
          <div
            class="w-full md:w-[calc(100%-8rem)] lg:w-[calc(100%-16rem)] sm:rounded-l-none"
          >
            <div class="p-4 bg-gray-100 dark:bg-gray-900 h-full rounded-2xl">
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
</style>
