<script setup lang="ts">
import { ref } from 'vue'
import { useTransition } from '@vueuse/core'
import {definePageMeta} from "~/.nuxt/imports";
import {useStaticStore} from "~/store/statistics";
import {storeToRefs} from "pinia";

const source = ref(0)
const outputValue = useTransition(source, {
  duration: 1500,
})
source.value = 172000

definePageMeta({
  middleware: 'auth',
})

useHead({
  title: "Dashboard",
});

const store = useStaticStore();
const { getDayStatic, getMonthStatic } = store;
const { dayStatics, monthStatics } = storeToRefs(store);

await getDayStatic().then(() => {
  console.log('조회 성공')
}).catch(() => {
  console.log('조회 실패')
});

await getMonthStatic().then(() => {
  console.log('조회 성공')
}).catch(() => {
  console.log('조회 실패')
});
</script>

<template>
  <div>
    <div class="h-max">
      <div class = "dashboard-top h-20px"></div>
      <div class = "text-base bg-white mx-12 h-320px w-auto rounded-3xl shadow-md mt-4">
        <div class="dashboard-today-title">
          <h1 class="text-left text-2xl pb-30px border-b border-solid border-gray-400 p-4">오늘 통계</h1>
        </div>
        <div class="flex flex-row p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
          <span class="font-bold mr-2">알림 </span> 처리해야 할 업무가 있습니다.
        </div>
        <div class="flex flex-row flex-nowrap items-center justify-around mt-2 text-2xl pb-2">
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-10 left-6 p-2">신규 회원<br> {{dayStatics.joinDatasets.toString()}} 명</p></div>
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-10 left-4 p-2">사업장 등록 <br> {{dayStatics.businessDatasets.toString()}} 건</p></div>
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-10 left-4 p-2">신규 게시물 <br> {{dayStatics.newWriteDatasets.toString() }} 건</p></div>
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-8 left-4 p-4">신규 문의<br>  {{dayStatics.newInquiryDatasets.toString() }} 건</p></div>
        </div>
      </div>
      <div class = "text-base bg-white mt-4 h-320px w-auto mx-12 rounded-3xl shadow-md">
        <div class="dashboard-today-title">
          <h1 class="text-left text-2xl pb-30px border-b border-solid border-gray-400 p-4">한달 통계</h1>
        </div>
        <div class="flex flex-row flex-nowrap items-center justify-around mt-2 text-2xl pb-2">
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-10 left-6 p-2">신규 회원<br> {{monthStatics.joinDatasets.toString()}} 명</p></div>
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-10 left-4 p-2">사업장 등록 <br> {{monthStatics.businessDatasets.toString()}} 건</p></div>
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-10 left-4 p-2">신규 게시물 <br> {{monthStatics.newWriteDatasets.toString()}} 건</p></div>
          <div class="flex-initial w-36 h-36 bg-my-color rounded-full relative text-white text-xl shadow-xl text-center"><p class="absolute top-8 left-5 p-4">신규 문의<br> {{monthStatics.newInquiryDatasets.toString() }} 건</p></div>
        </div>
      </div>
      <div class="flex flex-row flex-nowrap items-start justify-between mx-12 my-4 ">
        <div class="flex-initial bg-white h-auto p-4 text-2xl text-left w-[450px] rounded-3xl shadow-md">
          <h3 class="text-2xl py-4 border-b border-solid border-gray-400">회원 관리</h3>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="text-xl flex-initial">알바생 회원 조회</p>
            <span class="text-xs"><nuxt-link to="staff-member/staffMemberList"><p>바로 가기 ></p></nuxt-link></span>
          </div>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="text-xl">사업자 회원 조회</p>
            <span class="text-xs"><nuxt-link to="owner-member/owner-member"><p>바로 가기 ></p></nuxt-link></span>

          </div>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="opacity-0">알바생 </p>
          </div>
        </div>
        <div class="flex-initial bg-white h-auto p-4 text-2xl text-left w-[450px] rounded-3xl shadow-md">
          <h3 class="text-2xl py-4 border-b border-solid border-gray-400">CS 관리</h3>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="text-xl relative">사업장 승인 관리<span class="text-red-800 text-xs font-medium py-0.5 absolute left-29 top-0.5 rounded dark:bg-red-900 dark:text-red-300">new</span></p>
            <span class="text-xs"><nuxt-link to="components/business"><p>바로 가기 ></p></nuxt-link></span>
          </div>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="text-xl">사업장 조회</p>
            <span class="text-xs"><nuxt-link to="components/business"><p>바로 가기 ></p></nuxt-link></span>
          </div>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="text-xl relative">문의내역 조회<span class="text-red-800 text-xs font-medium py-0.5 absolute left-29 top-0.5 rounded dark:bg-red-900 dark:text-red-300">new</span></p>
            <span class="text-xs"><nuxt-link to="components/question"><p>바로 가기 ></p></nuxt-link></span>
          </div>
        </div>
        <div class="flex-initial bg-white h-auto p-4 text-2xl text-left w-[450px] rounded-3xl shadow-md">
          <h3 class=" py-4 border-b border-solid border-gray-400">커뮤니티 관리</h3>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="flex-initial text-xl">커뮤니티 게시물 조회</p>
            <span class="text-xs"><nuxt-link to="components/community"><p>바로 가기 ></p></nuxt-link></span>
          </div>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="flex-initial text-xl relative">커뮤니티 신고 게시물 조회<span class="text-red-800 text-xs font-medium py-0.5 absolute left-45 top-0.5 rounded dark:bg-red-900 dark:text-red-300">new</span></p>
            <span class="text-xs"><nuxt-link to="components/community/report-board"><p>바로 가기 ></p></nuxt-link></span>
          </div>
          <div class="flex flex-row flex-nowrap justify-between my-4">
            <p class="flex-initial text-xl relative">커뮤니티 신고 댓글 조회<span class="text-red-800 text-xs font-medium py-0.5 absolute left-29 top-0.5 rounded dark:bg-red-900 dark:text-red-300">new</span></p>
            <span class="text-xs"><nuxt-link to="components/community/report-comment"><p>바로 가기 ></p></nuxt-link></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
