<template>
  <div class="m-20">
    <h1 class="text-3xl pb-10">게시물 신고 조회</h1>
    <div class="relative overflow-x-auto bg-white mx-auto shadow-md sm:rounded-lg">
      <div class="table pt-4 w-full text-center">
        <div class="table-header-group leading-10 h-16 font-bold  text-center">
          <div class="table-row h-10 align-middle">
            <div class="table-cell align-middle text-center">{{ data.column[0].label}}</div>
            <div class="table-cell align-middle text-center ">{{ data.column[1].label}}</div>
            <div class="table-cell align-middle text-center ">{{ data.column[2].label}}</div>
          </div>
        </div>
        <div class="table-row-group align-middle border border-b-gray-200 leading-10 h-10 border-collapse border border-solid border-1 border-gray-400 mx-auto text-center" v-for="(line, index) in reportBoardList" :key="index" @click="handleClick(line.boardId)">
          <div class="table-row border align-middle border-collapse h-16 leading-10 hover:bg-gray-100">
            <div class="table-cell align-middle text-center w-1/9">{{ line.boardId}}</div>
            <div class="table-cell align-middle text-center">{{ line.dateReport }}</div>
            <div class="table-cell align-middle text-center">{{ line.content }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row mx-auto my-8 justify-center">
      <button type="button" id="1" class="bg-gray-400 text-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(1)">1</button>
      <button type="button" id="1" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(1)">1</button>
      <button type="button" id="2" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(2)">2</button>
      <button type="button" id="3" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(3)">3</button>
      <button type="button" id="4" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(4)">4</button>
      <button type="button" id="5" class="bg-white shadow-2xl rounded-2xl border border-solid border-gray-400 h-10 w-10 mx-4 hover:bg-gray-200" v-on:click="paging(5)">5</button>
    </div>
  </div>
</template>


<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {storeToRefs} from "pinia";
import {ref} from "vue";
import {useReportStore} from "~/store/report";

definePageMeta({
  middleware: 'auth',
})

const store = useReportStore();
const {getReportBoard} = store;
const {reportBoardList} = storeToRefs(store);

const router = useRouter();

const handleClick = (boardId : string) => {
  router.push(`/report-board/detail/${boardId}`);
}

const data = ref({
  column: [
    {
      label: "번호",
      field: "boardId",
      width: "70px",
      sortable: true,
    },
    {
      label: "신고날짜",
      field: "dateReport",
      width: "120px",
      sortable: true,
    },
    {
      label: "신고 내용",
      field: "content",
      width: "120px",
      sortable: true,
    },
    {
      label: "",
      field: "edit",
      width: "120px",
    },
  ],
  data: [],
});

const paging = async(page: number) => {
  await getReportBoard(page).then(() => {
    console.log("조회 성공")

  }).catch(() => {
    console.log("조회 실패")
  });
}

await getReportBoard(1).then(() => {
  console.log("조회 성공")

}).catch(() => {
  console.log("조회 실패")
})
</script>
