<template>
  <div class="m-10">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
      <h1 class="text-center text-2xl mt-8">사업장 상세보기</h1>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4" v-if="businessDetail">
        <div class="m-8">
          <div class="table border-collapse border border-solid border-1 border-gray-400 w-full text-center">
            <div class="table-header-group bg-my-color text-white border-collapse border border-solid border-1 border-gray-400 text-center">
              <div class="table-row h-10 h-10 leading-10">
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">상호명</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">사업자등록번호</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">대표자명</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">사업장 상태</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">승인 여부</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">사업장 전화번호</div>
              </div>
            </div>
            <div class="table-row-group border-collapse border border-solid border-1 border-gray-400 mx-auto text-center">
              <div class="table-row border border-collapse h-10 leading-10">
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetail.businessName }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetail.businessNumber }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetail.ownerName }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetail.isActivity }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetail.isApprovalBusiness }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ businessDetail.businessPhoneNumber }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="text-center absolute top-96 right-16 z-10 h-14 w-48 text-white bg-my-color hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">사업자 등록증 조회</button>
    <div class="bg-white mt-28 pt-8 rounded-3xl">
      <div class="m-auto text-2xl bg-white text-center">
        사업장 직원 목록
      </div>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
        <div class="m-8">
          <div class="table border-collapse border border-solid border-1 border-gray-400 w-full text-center">
            <div class="table-header-group bg-my-color text-white border-collapse border border-solid border-1 border-gray-400 text-center">
              <div class="table-row h-10 h-10 leading-10">
                <div class="table-cell border border-solid border-1 border-gray-400 text-center">재직 상태</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center">이름</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center">연락처</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center">근무지</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center ">근무 시작일</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center">근무 종료일</div>
              </div>
            </div>
            <div class="table-row-group border-collapse border border-solid border-1 border-gray-400 mx-auto text-center" v-for="(line, index) in staffDetail" :key="index">
              <div class="table-row border border-collapse h-10 leading-10">
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ line.isWork }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ line.memberName }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ line.phoneNumber }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ line.workPlace }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ line.dateWorkStart }}</div>
                <div class="table-cell border border-solid border-1 border-gray-400 text-center w-1/6">{{ line.dateWorkEnd }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative overflow-x-auto shadow-md rounded-3xl mt-10 bg-white border-gray-500" v-if="businessDetail.isApprovalBusiness !== '승인 완료'">
      <form class="border-gray-500">
        <div class="text-gray-500">
          <div class="border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 text-gray-500">
            <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
              <div class="border-r border-gray-200 w-40">상태 변경</div>
              <select class="w-56 border-gray-500 rounded" v-model="form.isAgree">
                <option disabled>--승인여부를 선택해주세요.--</option>
                <option value="true">승인</option>
                <option value="false">반려</option>
              </select>
            </div>
            <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600 border-gray-200" v-if="form.isAgree === 'false'">
              <div class="w-40 h-40 align-items-center">반려 사유</div>
              <textarea placeholder="반려일 경우만 사유를 입력해주세요. 예: 사업자등록번호 식별 불가 " class="w-full h-40 resize-none ml-4 border-gray-500 rounded" v-model="form.refuseReason"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="flex flex-nowrap items-center justify-center">
      <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-my-color hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="submitUpload(response)" v-if="businessDetail.isApprovalBusiness !== '승인 완료'">수정</button>
      <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-gray-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="backPage()">목록</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {storeToRefs} from "pinia";
import {useBusStore} from "~/store/business";
import {useRequestStore} from "~/store/request";



definePageMeta({
  middleware: 'auth',
})

const store = useBusStore
const {busDetail, getStaff} = store();
const {businessDetail , response, staffDetail} = storeToRefs(store());
const router = useRouter();
const store2 = useRequestStore();
const {agreeRequest} = store2;
const {refuseRequest} = store2;

const form = ref({
  isAgree: '',
  refuseReason: '',
})
const backPage =() => {
  router.back();
}

const id = useRouter().params;

await busDetail(id).then(() => {
  console.log('조회 성공')
}).catch(() => {
  console.log('조회 실패')
})

await getStaff(id).then(() => {
  console.log('조회 성공')
}).catch(() => {
  console.log('조회 실패')
})

const submitUpload = async (response: string) => {
  const payload = ref({
    refuseReason: form.value.refuseReason
  });

  if(confirm('사업장 승인을 처리하시겠습니까?')) {
    if(form.value.isAgree === 'true') {
      await agreeRequest(response).then(() => {
        console.log('승인 성공', response)
        backPage();
      }).catch(() => {
        console.log('승인 실패')
      })
    } else {
      await refuseRequest(response, payload.value).then(() => {
        console.log('반려 성공')
        alert('사업장 승인처리가 완료되었습니다.')
        router.back();
      }).catch(() => {
        console.log('승인 실패')
      })
    };

  } else{
    alert('사업장 승인처리가 취소되었습니다.')
  }

}
</script>
