<template>
  <div class="m-10 bg-white py-8">
    <form class="">
      <div class="flex-column mx-auto w-5/6 my-8">
        <div class="mb-4 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 text-gray-500">
          <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
            <div class="border-r border-gray-200 w-40">공지 사항 제목</div>
            <div class="ml-8">{{ noticeDetail.title }}</div>
          </div>
          <div class="flex flex-row items-center justify-start px-3 py-2 border-b dark:border-gray-600">
            <div class="border-r border-gray-200 w-40">작성 일자</div>
            <div class="ml-8">{{  noticeDetail.dateNotice }}</div>
          </div>
          <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
            <label for="editor" class="sr-only">Publish post</label>
            <div class="mt-8" v-if="noticeDetail.noticeImgUrl">
              <img :src="noticeDetail.noticeImgUrl" width="200px" class="mx-auto object-scale-down lg:hover:scale-[4] transition-transform ease-in-out duration-100">
            </div>
            <div id="editor" rows="8" class="block w-full h-auto pt-4 pb-20 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400 overflow-auto text-wrap" >
              {{ noticeDetail.content }}
            </div>
          </div>
        </div>
        <div class="flex flex-nowrap items-center justify-center">
          <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-gray-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="backPage()">목록</button>
          <button type="button" class="m-10 h-14 w-24 text-center text-xl text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" @click="delNotice(id)">삭제</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import {definePageMeta} from "~/.nuxt/imports";
import {useNoticeStore} from "~/store/notice";


definePageMeta({
  middleware: 'auth',
})

const store = useNoticeStore();
const { getDetail } = store;
const {noticeDetail} = storeToRefs(store);
const { deleteNotice } = store;

const router = useRouter();
const id = router.params;



const goPutPage = (id : string) => {
  router.push(`/notice/use/${id}`);
}

const backPage = () => {
  router.back();
}

const delNotice = async (id : string) => {
  if(confirm("정말 삭제하시겠습니까?")) {
    await deleteNotice(id).then(() => {
      alert("공지가 삭제되었습니다.")
      router.back();
    }).catch(() => {
      alert("삭제에 실패했습니다.")
    })
  }else{
    alert("삭제가 취소되었습니다.")
  }
}

await getDetail('${id}').then(() => {
  console.log('조회 성공');
}).catch(() => {
  console.log('조회 실패');
});

console.log(noticeDetail);
</script>
